.box-btn{
    width: 100%;
    height: 100%;
    font-size: 2rem;
    cursor: pointer;
}

.box-btn:disabled{
    color: #000000;
    background-color: #cccccc; 
    cursor: default;
    border-style: dotted;
}
